{%- if page.author %}{% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}{% endif %}
<img class="mag-author-image" src="{{ site.url }}/images/authors/{{ author.avatar }}" alt="" width="64" height="64" loading="lazy">
<div>
  <p class="kicker">作者</p>
  <h2 class="mag-author-name">{{ author.display_name | default: author.name }}</h2>
  <p class="mag-author-bio">{{ author.bio }}</p>
  {%- if author.web or author.weibo %}
  <p class="mag-author-links">{% if author.web %}<a class="text-link" href="{{ author.web }}">个人网站</a>{% endif %}{% if author.weibo %} <a class="text-link" href="{{ author.weibo }}">新浪微博</a>{% endif %}</p>
  {%- endif %}
</div>
